<div class="w-5/12 h-full flex flex-col justify-between items-center bg-gray-100 px-1">
    <div class=" flex justify-center items-center w-56 h-20 rounded bg-slate-200">
        <!-- list -->
    </div>
    <div class="flex w-full justify-center items-center mt-2 mb-2">
        <button
            class="relative block rounded bg-transparent mx-1 px-2 py-1 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-black dark:hover:bg-neutral-700 dark:hover:text-white"
            (click)="prevPage()"
        >
            <span>&laquo;</span>

        </button>

        <div class="flex gap-1">
            <div class="flex justify-center  items-center px-1.5 rounded  bg-slate-400">
                {{pagination.currentPage}}
            </div>

            <div class="rounded p-0.5">
                {{pagination.elementsPerPage}}
            </div>

            <div class="rounded p-0.5">
                {{pagination.pages}}
            </div>
        </div>

        <button
            class="relative block rounded bg-transparent mx-1 px-2 py-1 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-black dark:hover:bg-neutral-700 dark:hover:text-white"
            (click)="nextPage()"
        >
            <span>&raquo;</span>

        </button>

    </div>
</div>