<!-- {
    "name": "Product",
    "price": 1,
    "description": "Description",
    "stock": 1,
    "isActive": false
  } -->


<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 group">

    <div class="mb-4">

        <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="name"
        >
            Name:
        </label>

        <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="price"
        >
            Price:
        </label>

        <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="description"
        >
            Description:
        </label>

        <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="stock"
        >
            Stock:
        </label>

        <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="isActive"
        >
            isActive:
        </label>

    </div>

</form>