<div class="flex">
  <div
    *ngIf="!isOpen"
    class="md:h-[100svh] bg-violet-300 w-auto max-w-xs md:w-[50px]"
  >
    <button class="flex p-2 text-2xl" (click)="open()">☰</button>
    <app-sidebar-item />

    <div></div>
  </div>
</div>

<div class="bg-violet-300 h-[100svh] w-full" *ngIf="isOpen">
  <button class="flex p-2 text-2xl" (click)="open()">✕</button>
  <div>
    <app-sidebar-item />
  </div>
</div>

<!-- <div
  class="flex md:hidden flex-col items-center justify-center h-[80svh] pr-5 pl-5 space-y-4"
>
  <ul *ngFor="let route of SidebarRoutes">
    <li>
      <a routerLink="{{ route.href }}">{{ route.name }}</a>
    </li>
  </ul>
</div>

<div class="hidden md:flex flex-col justify-center h-[80svh] space-y-4">
  <ul *ngFor="let route of SidebarRoutes">
    <li>{{ route.icon }}</li>
  </ul>
</div> -->
