<div class="flex">
  <div
    *ngIf="!isSidebarOpen()"
    class="md:h-[100svh] bg-violet-300 w-auto max-w-xs md:w-[50px]"
  >
    <button class="flex p-2 text-2xl" (click)="Open()">☰</button>
    <div class="hidden md:flex flex-col justify-center h-[80svh] p-5 space-y-4">
      <ul *ngFor="let nav of SidebarNavegation">
        <li>{{ nav.icon }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-violet-300 h-[100svh] w-full" *ngIf="isSidebarOpen()">
  <button class="flex p-2 text-2xl" (click)="Open()">✕</button>
  <div
    class="flex flex-col items-center justify-center h-[80svh] pr-5 pl-5 space-y-4"
  >
    <ul *ngFor="let nav of SidebarNavegation">
      <li>
        <a routerLink="{{ nav.href }}">{{ nav.name }}</a>
      </li>
    </ul>
  </div>
</div>
